 <div ng-include="'app/Partials/header.tpl.html'"></div> 

<h1>Authors</h1>
<div class="container">
    Search: <input type="text" ng-model="fullname">

    <table>
	<thead>
	    <tr>
		<td>Surname</td>
		<td>Name</td>
	    </tr>
	</thead>
	<tbody>
	    <tr ng-repeat="author in authors | filter: fullname | orderBy: ['surname','name']">
		<td>{{author.surname}}</td>
		<td>{{author.name}}</td>
		<td><a href="#/author/{{author.id}}">Edit</a></td>
	    </tr>
	</tbody>
    </table>
    
    
    <br />
    <h4>Create new</h4>
    <form>
	<label>Name</label>
	<input type="text" ng-model="newAuthor.name" required />
	<label>Surname</label>
	<input type="text" ng-model="newAuthor.surname" required />
	
	<div class='button-cont'>
	    <button ng-click="addAuthor()">Add</button>
	</div>
    </form>
</div>

