 <div ng-include="'app/Partials/header.tpl.html'"></div> 

<h1>Book</h1>
<div class="container">   
    <div ng-repeat="book in books">
	<h4>Edit {{book.title}}</h4>
	<form>
	    <label>Title</label>
	    <input type="text" ng-model="book.title" />
	    
	    <label>Description</label>
	    <input type="text" ng-model="book.description" />

	    <input type="hidden" ng-model="book.id" />
	    <div class='button-cont'>
		<button ng-click="editBook()">Edit</button>
		<button ng-click="deleteBook()">Delete</button>
	    </div>
	</form>
    </div>
</div>