 <div ng-include="'app/Partials/header.tpl.html'"></div> 

<h1>Book Store</h1>
<div class="container">
    
    <p id="main-text">
	This is a demo of an ANGULAR JS crud app retrieveng data from a rest php service; it also includes a LESS css style sheet.
    </p>

    <div id='books_authors'>
	<ul ng-repeat="relation in relations | orderBy: ['fullname']">
	    <li>
		<h4>{{relation.fullname}}</h4>
		<ul ng-repeat="book in relation.books | orderBy: ['title']">
		    <li><button ng-click="removeRelation(book.id)">Remove</button> {{book.title}}</li>
		</ul>
	    </li>
	</ul>
    </div>
    


    <h4>Add new relation</h4>
    <form>
	<label>Author </label>
	<select ng-model="relation.author">
	    <option></option>
	    <option ng-repeat="author in authors | orderBy: ['surname','name']" value='{{author.id}}'>{{author.fullname}}</option>
	</select>


	<label>Book </label>
	<select ng-model="relation.book">
	    <option></option>
	    <option ng-repeat="book in books | orderBy: ['title']" value='{{book.id}}'>{{book.title}}</option>
	</select>
	
	<div class='button-cont'>
	    <button ng-click="addRelation()">Add</button>
	</div>
    </form>
</div>